# Firebase
.firebase/

# Functions
functions/node_modules/
functions/.env
functions/lib/
functions/lib/*
functions/lib
functions\lib
lib\

#Frontend
frontend/apps/web/.env.*

#Docs
Docs/

bruin/
bruin/readme.md
bruin/deploy-cloud-run.ps1

disconnect/*


skills/


